@model examenBancoBcp.Models.MovimientoModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MovimientoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DropDownListFor(m => m.Nro_Cuenta.Nro_cuenta, Model.Nro_Cuenta.Cuentas, "Seleccionar una cuenta", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" name="Abonar" value="Abonar" class="btn btn-primary" />
                <input type="submit" name="Debitar" value="Debitar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

